:root {
  --primary-colour: #3e6500;
  --secondary-colour: #c8d7a9;
  --accent-colour: #fc8586;
  --primary-font: "Fredoka", sans-serif;
  --secondary-font: "Gaegu", sans-serif;
}

body {
  background-color: #fdfeef;
}
.container {
  max-width: 960px;
}
.logo {
  max-height: 200px;
  padding-bottom: 40px;
  transition: transform 0.3s ease-in-out;
}
.logo:hover {
  animation: swing 1s ease-in-out;
}

@keyframes swing {
  20% {
    transform: rotate(16deg);
  }
  40% {
    transform: rotate(-10deg);
  }
  60% {
    transform: rotate(5deg);
  }
  80% {
    transform: rotate(-5deg);
  }
  100% {
    transform: rotate(0deg);
  }
}
nav {
  font-size: 20px;
  font-family: var(--primary-font);
  padding: 0;
}
nav ul {
  margin-top: 90px;
  padding-left: 12px;
}
nav li {
  display: inline;
  margin-left: 30px;
  line-height: 30px;
  list-style: none;
}
nav a {
  color: var(--primary-colour);
  text-decoration: none;
  transition: all 150ms ease-in-out;
}
nav a:hover {
  color: var(--accent-colour);
}
section {
  background-color: #3e6500;
  max-width: 100%;
  margin: 0 auto;
  padding: 60px;
}
h1 {
  color: #fdfeef;
  font-family: var(--secondary-font);
  font-weight: bold;
  text-align: center;
}
